$main-blue:#0264a3;
$red:#e00101;
.header-top{
    background-color: $main-blue;


    .nav{
        height: 50px;

        &__item{
            margin-right: 40px;
            height: 100%;

            &-link{
                
                color: white;
                height: 90%;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                border-bottom: 3px solid transparent;

                &:hover{
                    text-decoration: none;
                    border-bottom: 3px solid $red;
                     }
                }

                &:last-child{
                    margin-right: 0;
                }

            
        }



    }
}
.test{
    background-color:#002;
}
.test2{
    background: #e00101;
}